body{
  background: #000;
}


.App {
  text-align: center;
  padding: 10px ;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  color: blue;
  background: #d2c3c3;
  padding: 5px;
}


.person{
  color: aliceblue;
  margin: 50px;
  background: rgb(186, 186, 101);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(4, 4, 4);
}


.person2{
  color: red;
  margin: 50px;
  background: rgb(222, 222, 179);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(4, 4, 4);
}